
@use "sass:map";
@import "style/pages/theme";
@import "style/pages/all";
@import "style/pages/responsive";
@import "style/style";
.container{
   
    .sidebar{
        padding-right: 20px;
        .sidebar_item{
            margin-bottom: 30px;
            h2{

                color: map.get($theme-color,"normal-text");
                font-weight: 700;
                margin-bottom: 10px;
            }
            button{
                padding: 10px 20px;
                background-color: map.get($theme-color,"main");
                border: 0px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
            }
            .price-range-wrap{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
            .tags {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                .tag{
                    min-width: 58px;
                    font-size: 12px;
                    color: #6f6f6f;
                    display: inline-block;
                    padding: 8px 25px 6px;
                    cursor: pointer;
                    background-color: #f5f5f5;
                    margin-bottom: 0;
                    &:hover, &:active{
                        background-color: map.get($theme-color,"main");
                        color: #fff;
                    }
                    
                }

            }
            ul li{
                list-style: none;
                a{
                    text-decoration: none;
                    line-height: 30px;

                    color: map.get($theme-color,"normal-text");
                    &:hover{
                        color: map.get($theme-color,"main");
                    }
                }
            }
        }

    }
    
}
@include Responsive($TABLET_DEVICE){
    .container .sidebar .sidebar_item h2{
        font-size: 16px;
    }
}
@include Responsive($WIDE_MOBILE){
    .container .sidebar .sidebar_item p, a ,h2{
        font-size: 14px;
    }
    .breadcrumb{
        padding: 25px;
    }
}
@include Responsive($SMALL_DEVICES){
    .featured_item {
        margin-left: 60px!important;
        .featured_item_pic{
            height: 200px;
            background-size: contain;
            ul li svg{
                padding: 15px;
                height: 15px;
                width: 15px;
            }
        }
        .featured_item_text h5{
            font-size: 14px;
        }
    }
    .container .sidebar .sidebar_item {
        min-width: 130px;
        h2, p, a{
            font-size: 14px;
        }
    }
}